html { 
    background: url(bg.jpg) no-repeat center fixed; 
    background-size: cover;
  }
div {
    text-align: justify;
    text-justify: inter-word;
    font-family:verdana;
    font-size:100%;
    text-indent:50px;
    color: #7fffd4;;
    /*padding-top: 50px;*/
    padding-right: 30px;
    /*padding-bottom: 50px;*/
    padding-left: 80px;
}
p {
    /*margin-top: 100px;*/
    /*margin-bottom: 100px;*/
    margin-right: 150px;
    margin-left: 80px;
}
.image{
    display: block;
    margin: 0 auto;
    overflow: hidden;
}

.footer {
   margin-top: 200px;
}
.icons{
    display: block;
    float: right;
    margin: auto;
}
.quotes{
 color:rebeccapurple;
 font-family:verdana;
 font-size: 100%;
 padding-right: 30px;
 padding-left: 80px;
}

